# Default owners for everything in the repo
*       @tcharding

# Owners for specific directories
/bitreq/        @oleonardolima @TheBlueMatt @tnull
/client/        @jamillambert
/jsonrpc/       @apoelstra
/node/          @RCasatta
/types/         @jamillambert

